/aula01/logs
/aula01/*.log
/aula01/npm-debug.log*
/aula01/yarn-debug.log*
/aula01/yarn-error.log*
/aula01/pnpm-debug.log*
/aula01/lerna-debug.log*
/aula01/node_modules
/aula01/dist
/aula01/dist-ssr
/aula01/*.local
/aula01/.vscode/*
/aula01/!.vscode/extensions.json
/aula01/.idea
/aula01/.DS_Store
/aula01/*.suo
/aula01/*.ntvs*
/aula01/*.njsproj
/aula01/*.sln
/aula01/*.sw?
